project:
  type: book
  output-dir: docs

execute:
  cache: false
  warning: false
  message: false
  freeze: auto  # re-render only when source changes

editor_options:
  chunk_output_type: console

book:
  title: "R para preparación y visualización de datos"
  subtitle: "[Doctorado en Neurociencia Social y Cognición](https://www.uai.cl/doctorado/doctorado-en-neurociencia-social-y-cognicion-2/), [UAI](https://www.uai.cl/)"
  author:
    - name: "Gorka Navarrete"
      orcid: 0000-0001-7678-8656
      email: gorkang@gmail.com
  date: today
  site-url: https://gorkang.github.io/R_preparacion_visualizacion_datos/index.html
  repo-url: https://github.com/gorkang/R_preparacion_visualizacion_datos
  repo-branch: main
  downloads: [pdf]
  navbar:
    search: true
    right:
      - icon: mastodon
        href: "https://fosstodon.org/@gorkang"
        aria-label: Mastodon
  page-footer:
    border: false
    background: light
    left: >-
       <a href="http://orcid.org/0000-0001-7678-8656">Gorka Navarrete</a>

  chapters:
    - "index.qmd"
    # - "qmd/xxx-test.qmd"
    - "qmd/00-configuracion-sistema.qmd"
    - "qmd/01-introduccion.qmd"
    - "qmd/02-visualizacion-basica.qmd"
    - "qmd/03-visualizacion-avanzada.qmd"
    - "qmd/04-preparacion-transformacion.qmd"
    - "qmd/05-combinar-datos.qmd"
    - "qmd/06-analisis-datos-exploratorio.qmd"
    - "qmd/07-analisis-datos-inferencial.qmd"
    - "qmd/08-quarto.qmd"
    - "qmd/09-git.qmd"
    - "qmd/10-experimentos-reproducibles.qmd"
    - "qmd/11-ejercicios.qmd"
    - "qmd/refs.qmd"

bibliography: data/bib/grateful-refs.bib

format:
  html:
    grid:
      body-width: 1024px
    theme:
      - cosmo
      - base.scss
    code-link: true
    fig-width: 16
    fig-height: 8
    fig-align: center
    fig-dpi: 300
    toc-depth: 5
  pdf:
    documentclass: scrreprt
    fig-width: 10
    fig-height: 6
    fig-align: center
    fig-dpi: 600
    include-in-header:
      text: \usepackage[top=20mm, left=30mm, right=25mm, bottom=25mm]{geometry}
    template-partials:
      - before-body.tex
