.bibliografia {
   font-size: .9em;
   color: black;
   background-color: #fff5e6;
   border-radius: 10px;
   padding-top: 1px;
   padding-bottom: 10px;
   padding-left: 20px;
   padding-right: 10px;
}


.parameters {
   background-color: #CCE5FF;
   border-radius: 10px;
   padding-top: 1px;
   padding-bottom: 10px;
   padding-left: 20px;
   padding-right: 10px;
}

.badCode {
color: red;
background-color: #d9edf7;
border-color: #bce8f1;
}


.ejercicio {
   font-size: .9em;
   color: black;
   background-color: #E0E0E0; !important;
   border-color: #bce8f1 !important;
   border-radius: 10px;
   padding-top: 1px;
   padding-bottom: 10px;
   padding-left: 20px;
   padding-right: 10px;
}
